body{
	font-family: 'Open Sans',sans-serif;
	background-image: url(BACKGROUND.png);
  font-weight: bold;
}

#container{
	border: 20px solid rgba(0,0,0,.5);
	width: 1000px;
	height: 580px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(BG.png);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -320px;
	margin-left: -530px;
	text-align: center;
	padding: 10px;
	display: table;
}

.box{
	background-image: url(bgImg.jpg);
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 20px solid rgba(0,0,0,.2);
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
}

.calculator {
  width: 300px;
  height: 500px;
  padding: 10px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #eaedef;
  position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 16px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
  width: 280px;
  height: 90px;
  border-radius: 1px;
  border: 1px solid grayscale;
  background-image: url(BACKGROUND.png);
  color: #d9d9d9;
  padding: 0 5px 0 5px;
  margin: 0 0px 10px 0px;
  font-size: 30px;
}

.input:focus,
.input:active {
  border-color: #03a9f4;
  box-shadow: 0 0 4px #03A9F4;
  outline: none 0;
}

.button {
  margin: 3px;
  width: 45px;
  border: 1px solid #2F4F4F;
  height:45px;
  border-radius: 70%;
  color: black;
  background-color: #A9A9A9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 0 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: none;
  font-size: 22px;
  font-weight: bold;
}

.button1 {
  margin: 3px;
  width: 45px;
  border: 1px solid #2F4F4F;
  height:45px;
  border-radius: 70%;
  color: black;
  background-color: #A9A9A9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 0 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-weight: bold;

}

.mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.equal-sign {
  background-color: #9477af;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
}

.equal-sign1 {
  background-color: #9477af;
  width: 45px;
  font-size: 25px;
  font-weight: bold;
}

.decimal{
	font-weight: bold;
	font-size: 30px;
	background-color: #778899;
}

.toggle-button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  color: #2F4F4F;

}

p {
  margin-top: 0;
}

button::-moz-focus-inner {
  border-color: transparent;
}

button:hover{
	background-image: url(/project/img/BACKGROUND.png);
}

.empty{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.operator{
	background-color: #778899;
	font-size: 20px;
}

.bagi{
	background-color: #20b2aa;
	font-size: 25px;
}

.kali{
	background-color: #ffa500;
	font-size: 25px;
}

.kurang{
	background-color: #f08080;
	font-size: 25px;
}

.tambah{
	background-color: #7d93e0;
	font-size: 25px;
}
